openapi: 3.0.0
info:
  title: Personal Finance Tracker API
  description: A secure, multi-tenant API for tracking expenses and income.
  version: 1.0.0
servers:
  - url: https://finance-tracker-api-ug26.onrender.com
    description: Production Server (Render)
  - url: http://localhost:3000
    description: Local Server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []

paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register a new user
      security: [] 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                name:
                  type: string
      responses:
        201:
          description: User created successfully

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login and get a Token
      security: [] 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        200:
          description: Login successful (Returns Token)

  /transaction:
    get:
      tags:
        - Transactions
      summary: Get all my transactions
      parameters:
        - in: query
          name: category
          schema:
            type: string
          description: Filter transactions by category (e.g., Food, Salary)
      responses:
        200:
          description: A list of transactions
    post:
      tags:
        - Transactions
      summary: Add a new transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                amount:
                  type: number
                category:
                  type: string
                description:
                  type: string
      responses:
        201:
          description: Created successfully

  /transaction/{id}:
    delete:
      tags:
        - Transactions
      summary: Delete a transaction
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        204:
          description: Deleted successfully

  /transaction/summary:
    get:
      tags:
        - Transactions
      summary: Get total expenses
      responses:
        200:
          description: Returns the sum of all transaction amounts